.kpi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 12px;
}

.chart {
  margin: 10px;
  background: white;
  padding: 12px;
}

.chart-box {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FILTER */

.filter-wrapper {
  position: relative;
}

.filter-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  width: 650px;
  background: white;
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 12px;
}

.hidden {
  display: none;
}